
				<form style="padding-bottom:20px;">

				 <input name="text"  type="text" value="" ng-model="formData.text">
                 <button ng-click="searchBooks()" type="submit"> Search </button>

				</form>

				<div ng-if="hits.isMessage">
				        Added successfuly
				</div>


				<div ng-if="hits.length == 0">
				        No results
				</div>

				<div ng-if="hits.isMessage == undefined">
					<div id="results" ng-repeat="book in hits">
					    
					    <h1>Title: {{book.title}}</h1>
					    <p>Author: {{book.author}}</p>
					    <p ng-model="formData.text">Rented: {{book.users_id.length}} times</p>
					    <button  class="btn" ng-click="rentBook(book._id)">Rent</button>
						
					</div>
				</div>


				<!-- USER INFORMATION -->
						<div class="col-sm-6">
							<div class="well">
								<% if (user.local.email) { %>
									<p>
										<strong>id</strong>: <%= user._id %><br>
										<strong>email</strong>: <%= user.local.email %><br>
										<strong>password</strong>: <%= user.local.password %>
									</p>
									
									<a href="/unlink/local" class="btn btn-default">Unlink</a>
								<% } else { %>
									<a href="/connect/local" class="btn btn-default">Connect Local</a>
								<% } %>

							</div>
						</div>


				<!-- BOOKS INFORMATION -->
						<div class="col-sm-6">
							<div class="well">
							<% books.forEach(function(book) { %>
									<p>
										<strong>Title</strong>: <%= book.title %><br>
										<strong>Author</strong>: <%= book.author %><br>
										<strong>Remaining copy</strong>: <%= book.nb_copy %>
									</p>
								<% }); %>	

							</div>
						</div>

						<div id="results" ng-repeat="book in hits">
						    
						    <h1>Title: {{book.title}}</h1>
						    <p>Author: {{book.author}}</p>
						    <p ng-model="formData.text">Rented: {{book.users_id.length}} times</p>
						    <p ng-model="formData.text">Remaining copy: {{book.nb_copy}}</p>

						    <button  class="btn" ng-click="rentBook(book._id)">Rent</button>
							
						</div>


						<!-- ============ -->


						<div style="border: 2px solid red;padding:50px" ng-controller="mainController">

 				<form style="padding-bottom:20px;">

				 <input name="text"  type="text" ng-change="searchBooks()" value="" ng-model="formData.text">
                 <!-- <button ng-click="searchBooks()" type="submit"> Search </button> -->

				</form>

				<div ng-if="hits.isMessage">
				        Added successfuly
				</div>


				<div ng-if="hits.length == 0">
				        No results
				</div>

					    
				<!-- <h1>Second object: {{msg.length}}</h1> -->


				<div ng-if="hits.isMessage == undefined">
					<div id="results" ng-repeat="book in hits">
					    
					    <h1>Title: {{book.title}}</h1>
					    <p>Author: {{book.author}}</p>
					    <p ng-model="formData.text">Rented: {{book.users_id.length}} times</p>
					    <p ng-model="formData.text">Remaining copy: {{book.nb_copy}}</p>

					    <button  class="btn" ng-click="rentBook(book._id)">Rent</button>
						
					</div>
				</div>

				
							


</div>



<!-- ========================================= -->


<div class="row" style="margin-top:50px;" ng-controller="profileController">

						<!-- USER INFORMATION -->
						<div class="col-sm-6">
							<div class="well">
								<% if (user.local.email) { %>
										
									<p>
										<strong>id</strong>: <%= user._id %><br>
										<strong>email</strong>: <%= user.local.email %><br>
										<strong>password</strong>: <%= user.local.password %>
									</p>
									
									<a href="/unlink/local" class="btn btn-default">Unlink</a>
								<% } else { %>
									<a href="/connect/local" class="btn btn-default">Connect Local</a>
								<% } %>

							</div>
						</div>


						<div class="col-sm-6" >

								<div ng-if="books.isMessage">
								        Added successfuly
								</div>

								<h1>{{books.length}}</h1>

								<hr>

								<div class="well" ng-repeat="book in books">
									<p>
										<strong>Title</strong>: {{book.title}}<br>
										<strong>Author</strong>: {{book.author}}<br>
										<strong>Date</strong>: {{book.published}}
									</p>
								    <button  class="btn" ng-click="rendreBook(book._id)">Rendre</button>

								</div>

								
						</div>

						

					
				
</div>












                        		                            <!-- Modal -->
		                            <script type="text/ng-template" id="myModalContent.html">
								        <div class="modal-header" >
								            <h3 class="modal-title">Book title</h3>
								        </div>
								        <div class="modal-body">
								        	<input type="text" ng-model="bookForm.title"  name="title"/>
								            <ul>
								                <li ng-repeat="item in items">
								                    <a ng-click="selected.item = item">{{ item }}</a>
								                </li>
								            </ul>
								            Selected: <b>{{ selected.item }}</b>
								        </div>
								        <div class="modal-footer">
								            <button class="btn btn-primary" ng-click="ok()">OK</button>
								            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
								        </div>
								    </script>
