
<div class="col-lg-12" ng-controller="mainController">
                        <form>
                            <input type="text" placeholder="Looking for a book ?" class="search" ng-change="searchBooks()" value="" ng-model="formData.text"/>
                        </form>
                        <div class="row">

                        	<div ng-if="hits.isMessage" class="alert alert-success noResult">
							        Added successfuly
							</div>


							<div ng-if="hits.length == 0" class="alert alert-danger noResult">
							        No results
							</div>

							<div ng-if="hits.isMessage == undefined">
								<div  ng-repeat="book in hits">
		                            <div class="col-lg-3">
		                                <div class="result">
		                                    <img src="http://placehold.it/250x150"/>

		                                    	<div class="topInformations">
				                                    <h5><strong><span ng-bind-html="book.title.substr(0,30) | highlight:formData.text"></span></strong></h5>
				                                    <!-- <h3  ng-bind-html="book.title | highlight:formData.text"></h3> -->
				                                    <h6>By 
				                                    	<span ng-bind-html="book.author | highlight:formData.text"></span>
				                                    </h6>
				                                    <h6><strong>ISBN:</strong> {{book.isbn.substr(0,10)}}</h6>
				                                    <h6><strong>Remaining copy:</strong> {{book.nb_copy}}</h6>
				                                </div>

				                                <div class="bottomButtons">
				                                	<button  class="btn btn-rent" ng-click="rentBook(book._id)">Rent</button>
				                                </div>

		                                
		                                </div>
		                            </div>
		                        </div>
	                        </div>
                        </div>
</div>


