<!doctype html>
<html>
<head>
	<title>Maniak Library</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link href="css/simple-sidebar.css" rel="stylesheet">
	<style>
		body{ 
			padding-top:80px; 
			background-color: #2980b9;
			color: #fff;
			/*background-image: url(img/05.jpg);background-attachment: fixed;background-size:100% 150%*/
					}
	</style>
</head>
<body>
<div class="container">

	<div class=" text-center">
		<h3>Maniak Library</h3>
		<h5>Fork me in <a href="https://github.com/Dragoneel/maniakLibrary" style="color:#2c3e50">github</a></h5>
		<h5>Documentation <a href="http://dchar.co/lab/maniak/doc/" style="color:#2c3e50">here</a></h5>
		<a href="/login" class="btn btn-log"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-log"><span class="fa fa-plus"></span> Signup</a>
	</div>

</div>
</body>
</html>