<!doctype html>
<html>
<head>
	<title>Maniak Library</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="css/simple-sidebar.css" rel="stylesheet">
	<style>
		body 		{ padding-top:80px;background-color: #fff }
	</style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1 class="login"><span class="fa fa-sign-in"></span> Login</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
	 		<input type="text" class="form-control loginInput" name="email" placeholder="Email">
	 		<input type="password" class="form-control loginInput" name="password" placeholder="Password">
			<button type="submit" class="btn btn-login">Login</button>
	</form>

	<hr>
	<div class="loginBottom">
		<p>Need an account? <a href="/signup">Signup</a></p>
		<p>Or go <a href="/">home</a>.</p>
	</div>


</div>
</div>
</body>
</html>